  body {
    background-color:#FFF2F2;
  }
  hr{
    background-color:#FFF2F2;
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: #c95151e3;

  }
h1{
  color: #66BFBF;
}
h3{
  color:#c95151e3;
}
